###################
# !DO NOT DELETE! #
###################

[General]
population_file = DE_03_KLLand.csv
# Name of the population to be loaded into the simulation.
# Examples: DE_03_KLLand.csv, MyHomeTown.json
# Note: Each entry (Member) has to contain an id and household(_id) field.

maximum_simulation_time_interval = 730
# Absolute maximum amount of time the simulation will run.
# Examples: 100, 365, 1095
# Note: If the amount of infectious people drops to zero the simulation will end prematurely.

post_processing = All
# Choice of post-processing methods to conduct after finishing a simulation.
# Examples: None, All, progression_plots, infection_graph
# Note: Multiple methods can be specified by separating them with commas (,).

[Initials]
number_of_initially_infected = 10
# Number who are being infected at the very beginning of the simulation.
# Examples: 1, 5, 100

number_of_initially_recovered = 0
# Number who are already recovered at the very beginning of the simulation.
# Examples: 0, 10, 250

number_of_initially_vaccinated = 0
# Number who are already vaccinated at the very beginning of the simulation.
# Examples: 0, 75, 5000

[Infection]
infection_probability_heuristic = infection_probability_heuristic
# Heuristic to be chosen for infection-probability-evaluation.
# Examples: infection_probability_heuristic
# Note: Currently 'infection_probability_heuristic' is the only supported heuristic.

mortality_probability_heuristic = mortality_probability_heuristic
# Heuristic to be chosen for death-probability-evaluation of infected people.
# Examples: mortality_probability_heuristic
# Note: Currently 'mortality_probability_heuristic' is the only supported heuristic.

inner_reproduction_number = 2
# Average number of people who get chosen for a contact with an infected person inside of households each day.
# Examples: 0, 1.5, 2

outer_reproduction_number = 3.5
# Average number of people who get chosen for a contact with an infected person outside of households each day.
# Examples: 0, 3, 3.5

incubation_time = 2
# Average number of days it takes for a newly infected person to be infectious themselves.
# Examples: 2, 4
#

infection_time = 14
#
#
#


[Immunity] # For vaccine_failure_probability_heuristic refer to https://www.desmos.com/calculator/7b4cpttpab
vaccine_failure_probability_heuristic = vaccine_failure_probability_heuristic-0.75-4
#
#
#

vaccine_available_as_of = 300
#
#
#

vaccination_takes_effect_time = 14
#
#
#

vaccinations_per_day = 1500
#
#
#

vaccination_immunity_time = 120
#
#
#

recovered_immunity_time = 180
#
#
#

waiting_time_vaccination_until_new_vaccination = 90
#
#
#

waiting_time_recovered_until_vaccination = 90
#
#
#


[Methods]
start_lockdown_at = 100
#
#
#

end_lockdown_at = 10
#
#
#

lockdown_gap = 90
#
#
#

minimum_lockdown_duration = 50
#
#
#

maximum_lockdown_duration = 120
#
#
#

heard_immunity = 0.6
#
#
#

tests_per_day = 8000
#
#
#

test_vaccinated = False
#
#
#

quarantine_duration = 14
#
#
#

backtracking_probability = 0.25
#
#
#

backtracking_depth = 3
#
#
#


[Misc]
override_newest = False
#
#
#